/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/*--reset--*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/*--start editing from here--*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*--end reset--*/
body {
    font-family: 'Montserrat', sans-serif;
	background-color: lightsteelblue;
	text-align:center;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
}
.top-img-agileits-w3layouts {
    background: lavenderblush;
    border-radius: 8px;
   
}
.w3_pad {
    padding: 3em 2em 0;
}
/**** LOGIN_SIGNUP ******/
.main-content-agileits {
    max-width: 1000px;
    margin:  auto;
    padding: 2em;
    background: #1B1B26;
    border-radius: 5px;
    /*1B1B26*/
}

.left-text-w3ls {
    float: left;
    width: 50%;
    padding-right: 1em;
    text-align: left;
	box-sizing: border-box;

}
.left-text-w3ls h3 {
    font-size: 2em;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0.5em 0 0.5em;
}
.left-text-w3ls a {
    padding-right: 8px;
    font-size: 9px;
}
.w3_soc {
    padding: 1.5em 5em 1.5em 2em;
    background-color: rgba(153, 153, 153, 0.23);
}
form {
    margin: 35px 0;
    
}
.left-text-w3ls p {
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 38px;
    font-weight: 100;
    
}
.w3_lb label {
    color: #ff0000;
    font-weight: 500;
    font-size: 20px;
}
.left-text-w3ls p a.fa {
    color: #b52e31;
    font-size: 11px;
    vertical-align: middle;
    margin-right: 1em;
}
/* signup Form styles */

.file-upload{
  display: inline-block;
  padding: 0 12px;
  height: 36px;
  line-height:36px;
  color: white;
  background-color: lightseagreen;
  cursor: pointer;
  color: #00BCE7
}
  


h2.sub-head-w3-agileits span {
    font-weight: 100;
    display: block;
    font-size: 15px;
}
.top-img-agileits-w3layouts h2 {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 500;
	color:#000;
	text-align: left;
}
.top-img-agileits-w3layouts p {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: left;
    color: rgba(119, 119, 119, 0.61);
    margin-top: 15px;
}
.login-w3l {
    width: 40%;
    float: right;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 10px 10px 16px 0px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 10px 10px 16px 0px rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
}
 .login-form input[type="text"] {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #525252;
    outline: none;
    color: black;
    font-size: 13px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.09);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 3em;
    letter-spacing: 5px;
    color: #fff;
    margin: 1em 0 1em;
    font-weight: 600;
}
.footer-social ul li {
    display: inline-block;
    margin-right: 5px;
}
i.icon_telegram {
    background: deepskyblue;
}
i.icon_twitter {
    background: #1da1f2;
}
i.icon_youtube {
    background: red;
}
i.icon_g_plus {
    background: #dd4b39;
}
.footer-social {
    text-align: left;
    margin-top: 20px;
}
.footer-social ul li i {
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
}
.login-form input[type="submit"], .login-form input[type="button"]{
    background: #b52e31;
    color: #fff;
    font-size: 15px;
    border: none;
    text-transform: capitalize;
    border: 2px solid #b52e31;
    border-radius: 4px;
    width: 45%;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    padding: 10px 0;
    letter-spacing: 2px;
    margin-top: 15px;
    margin-left: 10px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    font-family: 'Montserrat', sans-serif;
  
}
input[type="submit"]:hover {
	background-color: black;
	border: 2px solid black;
	border-radius: 10px;
}
input[type="button"]:hover{
  	background-color: black;
  	border: 2px solid black;
  	border-radius: 10px;
}
button{
    background: #b52e31;
    color: #fff;
    font-size: 15px;
    border: none;
    text-transform: capitalize;
    border: 2px solid #b52e31;
    border-radius: 4px;
    width: 263px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    padding: 10px 0;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-left: 10px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    font-family: 'Montserrat', sans-serif;
  
}
button:hover {
    background-color: black;
  	border: 2px solid black;
  	border-radius: 10px;
}
.w3_sub {
    text-align: left;
}
.w3_lb {
    text-align: left;
    margin-bottom: 20px;
}
.w3_soc h3 {
    font-size: 25px;
    text-align: left;
	color:#000;
}

.footer-agileits p {
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin: 4em 0 1em;
    letter-spacing: 1.5px;
    display: block;
}
.footer-agileits p a:hover {
    color: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.footer-agileits p a {
    text-decoration: underline;
    color: #fff;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
/*-- //login --*/
::-webkit-input-placeholder{
	color:#000;
}

:-moz-placeholder { /* Firefox 18- */
   color: #adb2bd; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #adb2bd;  
}

:-ms-input-placeholder {  
   color: #adb2bd;  
}
/*--responsive--*/
@media screen and (max-width: 1080px){
.main-content-agileits {
    margin: 0 3vw;
}
}
@media screen and (max-width: 1024px){
.left-text-w3ls h3 {
    font-size: 1.5em;
}	
}
@media screen and (max-width: 900px){
.left-text-w3ls {
    width: 100%;
}
.login-w3l {
    width: 100%;
    margin-top: 15px;
    float: left;
}
h1 {
    margin: 0.5em 0 0.5em;
}	
}
@media screen and (max-width: 667px){
h1 {
    letter-spacing: 1px;
	font-size: 2.5em;
}	
}
@media screen and (max-width: 480px){
.left-text-w3ls h3 {
    font-size: 1.2em;
}
.left-text-w3ls p {
    font-size: 12px;
    letter-spacing: 0px;
}
h1 {
    font-size: 2em;
}	
}
@media screen and (max-width: 384px){
.w3_pad {
    padding: 2em 1em 0;
}
.footer-agileits p {
    margin: 2em 0 1em;
    line-height: 1.8em;
	font-size:13px;
	letter-spacing:1px;
}	
}
@media screen and (max-width: 320px){
.top-img-agileits-w3layouts h2 {
    font-size: 22px;
}
.top-img-agileits-w3layouts p {
    font-size: 13px;
}
.login-form input[type="submit"] {
    width: 60%;
}
.w3_soc {
    padding: 1.5em 1em 1.5em 2em;
}	
}
/*--responsive--*/
